.chatroom {
   grid-column: 1/2;
   margin: 2rem;
   border: 2px solid rgb(108, 108, 108);
   border-radius: 10px;
   width: 35vw;
   h2 {
      border-bottom: 2px solid rgb(108, 108, 108);
      text-align: center;
      margin-top: 0;
      padding: 5px;
      color: white;
      background: rgb(108, 108, 108);
   }
   .topic {
      display: flex;
      justify-content: flex-start;
      padding: 0.5rem;
      border-bottom: 2px rgb(108, 108, 108) solid;
      margin-bottom: 0.5rem;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      .today-topic {
         margin: 0.3rem;
      }
      .tag-topic{
         margin: 0.3rem;
         border: 2px solid rgb(108, 108, 108);
         padding: 1px;
         border-radius: 5px;
         background: rgb(179, 238, 215);
         color: rgb(108, 108, 108);
         display: flex;
         flex-wrap: wrap;
      }
      .tag-topic:hover{
         background: rgb(108, 108, 108);
         color: rgb(179, 238, 215);
      }
   }
   .chatroom-question {
      height: 65vh;
      overflow: scroll;
      resize: none;
   }  
   .closeroom {
      background: rgb(108, 108, 108);
      color: white;
      border-radius: 0px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
   }
   .closeroom:hover {
      color: rgb(108, 108, 108);
   }
}

@media screen and (max-width: 1100px) {
   .chatroom {
      width: 40vw;
   }
}

@media screen and (max-width: 900px) {
   .chatroom {
      width: 60vw;
   }
}

@media screen and (max-width: 600px) {
   .chatroom {
      width: 70vw;
   }
}

@media screen and (max-width: 400px) {
   .chatroom {
      width: 90vw;
   }
}