.chatroom {
   grid-column: 1/2;
   margin: 1rem 1rem 1rem 2rem;
   border: 2px solid rgb(108, 108, 108);
   border-radius: 10px;
   width: 40rem;
   transition-duration: 0.5s;
   height: 90%;
   position: relative;
   margin-top: 8rem;
   h2 {
      border-bottom: 2px solid rgb(108, 108, 108);
      text-align: center;
      margin: 0;
      padding: 5px;
      color: white;
      background: slategray;
   }
   .topic {
      display: flex;
      justify-content: center;
      padding: 0.5rem;
      border-bottom: 2px rgb(108, 108, 108) solid;
      // margin-bottom: 0.5rem;
      margin: auto;
      flex-wrap: wrap;
      position: sticky;
      color: white;
      top: 0;
      z-index: 2;
      background: lightslategrey;
      .today-topic {
         margin: 0.3rem;
      }
      .tag-topic{
         margin: 0.3rem;
         border: 2px solid rgb(108, 108, 108);
         padding: 1px;
         border-radius: 5px;
         background: rgb(179, 238, 215);
         color: rgb(108, 108, 108);
         display: flex;
         flex-wrap: wrap;
      }
      .tag-topic:hover{
         background: rgb(108, 108, 108);
         color: rgb(179, 238, 215);
      }
   }
   .chatroom-question {
      height: 70vh;
      overflow: scroll;
   }  
   .closeroom {
      background: rgb(108, 108, 108);
      color: white;
      border-bottom: 2px solid rgb(108, 108, 108);
      border-radius: 0px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
      position: absolute;
      bottom: 0;
   }
   .closeroom:hover {
      color: rgb(108, 108, 108);
   }
}

.chatroom:hover{
   box-shadow: 5px 5px 5px;
   transition-duration: 0.5s;
}

@media screen and (max-width: 1100px) {
   .chatroom {
      width: 40vw;
   }
}

@media screen and (max-width: 900px) {
   .chatroom {
      width: 80vw;
   }
}

@media screen and (max-width: 400px) {
   .chatroom {
      width: 90vw;
   }
}