.dashboard--container {
   display: grid;
   grid-template-columns: repeat(3, 2fr);
   grid-template-rows: auto;
   width: 100vw;
   margin-top: 7rem;
   .create--room {
      grid-column: 1/4;
      justify-content: center;
      margin: 1rem auto 0 2.5rem;
      box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.2), 0px 2px 3px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
      background: rgb(248, 246, 247);
      border-radius: 1rem;      
      .create_button {
         background: rgb(186, 245, 255);
         border: 2px solid rgb(108, 108, 108);
         color: rgb(108, 108, 108);
         padding: 1rem 2rem;
         font-size: 1.5rem;
         border-radius: 1rem;
      }
   }
   .display--rooms {
      grid-row: 2/3;
      grid-column: 1/4;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }
   .content--room {
      overflow:scroll;
      height: 60vh;
      box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.2), 0px 2px 3px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
      border: 2px solid rgb(108, 108, 108);
      color: rgb(108, 108, 108);
      margin-right: 1rem;
      position: relative;
      background: white;
      border-radius: 1rem; 
      width: 28rem;  
      margin-top: 1rem;
      .title {
         font-size: 1.5rem;
         font-weight: bold;
         text-align: center;
         padding: 1rem;
         margin-bottom: 1.5rem;
         position: sticky;
         top: 0;
         z-index:2;
         &--past {
            background: rgb(255, 201, 136);
            border-bottom: 2px solid rgb(108, 108, 108);
            color: rgb(108, 108, 108);
         }
         &--current {
            background: rgb(187, 174, 255);
            border-bottom: 2px solid rgb(108, 108, 108);
            color: rgb(108, 108, 108);
         }
         &--upcoming {
            background: rgb(179, 238, 215);
            border-bottom: 2px solid rgb(108, 108, 108);
            color: rgb(108, 108, 108);
         }
      }
   }

   .content--room:hover{
         box-shadow: 5px 5px 5px;
         transition-duration: 0.5s;
   }

   .display--room:hover{
      box-shadow: 5px 5px 5px;
      transition-duration: 0.5s;
   }

   .create--room:hover {
      box-shadow: 5px 5px 5px;
      transition-duration: 0.5s;
   }


   @media screen and (max-width: 500px) {
      .create--room {
         margin: auto;
      }
      .display--rooms {
         margin-left: 1rem;
      }
   }
}