.question--input {
   display: flex;
   flex-direction: column;
   margin-top: 5rem;
   form {
      margin: 5rem auto;
      display: flex;
      flex-direction: column;
      h1 {
         text-align: center;
      }
      .tag--join {  
         margin: auto 5rem 1rem;
         line-height: 2rem;
         border: 1px lightgray solid;
         border-radius: 10px;
      }
      .input--question {
         margin: auto 2rem 1rem;
         line-height: 2rem;
         border: 1px lightgray solid;
         border-radius: 10px;
      }
      Button {
         width: 5rem;
         margin: auto;
         background: rgb(24, 176, 73);
         color: white;
      }
   }
}