.question--input {
   display: flex;
   flex-direction: column;
   margin-top: 7rem;
   form {
      margin: 5rem auto;
      display: flex;
      flex-direction: column;
      h1 {
         text-align: center;
      }
      .tagList{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
      }
      .input--question {
         margin: auto 1rem 1rem;
         line-height: 2rem;
         border: 1px lightgray solid;
         border-radius: 10px;
         width: 100%;
      }
      Button {
         width: 5rem;
         margin: auto;
         background: rgb(24, 176, 73);
         color: white;
      }
   }
}

.tag--join{
   border: 2px solid rgb(108, 108, 108);
   padding: 1px;
   border-radius: 5px;
   background: rgb(179, 238, 215);
   color: rgb(108, 108, 108);
   margin-bottom: 1rem;
}

.tag--join:hover {
   background: rgb(108, 108, 108);
   color:  rgb(179, 238, 215);
}