.login--Lform{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 90%;
   margin: auto;
   color: rgb(108, 108, 108);
   h2{
      padding: 1rem 0 2rem 0;
      margin: auto;
      color: rgb(108, 108, 108);;
   }
   input {
      line-height: 2.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: 100%;
      border-radius: 8px;
      border: solid 0.5px grey;
   }
   button {
      margin: 1rem auto;
   }

   input.error {
      border-color: rgb(224, 61, 78);
   }

   .input-feedback {
      color: rgb(235, 54, 54);
      font-size: 14px;
      margin-bottom: 20px;
   }
}