.container--login {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   .login--bar {
      grid-column: 2/3;
      border-radius: 5%;
      padding: 1rem;
      margin: auto;
      position: static;
      border: solid 0.5px light-grey;
      width: 30vw;
   }

   @media screen and (max-width: 1100px) {
      .login--bar {
         width: 40vw;
      }
   }

   @media screen and (max-width: 900px) {
      .login--bar {
         width: 45vw;
      }
   }

   @media screen and (max-width: 800px) {
      .login--bar {
         width: 50vw;
      }
   }

   @media screen and (max-width: 600px) {
      .login--bar {
         width: 80vw;
      }
   }

   @media screen and (max-width: 300px) {
      .login--bar {
         width: 98vw;
      }
   }
}


