
  .account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(108, 108, 108);
    padding: 0.6rem 0.3rem 0 0.3rem;
  }
  .navbar-brand{
    color: rgb(108, 108, 108) !important;
    font-size: 2.5rem !important; 
  }
  .Navi {
    border-bottom: 2px solid rgb(108, 108, 108);
    box-shadow: 2px 2px 2px;
    position: fixed;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99999;
  }
  #logout{
    color: rgb(108, 108, 108);
    padding: 0;
    margin: auto;
    font-size: 1.8rem;
  }
  .account:hover {
    background: rgb(108, 108, 108);
    color: white;
    transition: 0.5s;
    border-radius: 10px;
  }
  #logout:hover {
    color: rgb(255, 41, 37);
    transition: 0.3s;
  }

  @media screen and (max-width: 950px) {
    .account {
      align-items: flex-start;
      justify-content: start;
    }
 }