.login--Rform{
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: auto;
   color: rgb(108, 108, 108);
   border-top-right-radius: 1.5rem ;
   h2{
      padding: 1rem 0 1rem 0;
      margin: auto;
      
   }
   .button--register {
      margin: 0.5rem auto;
   } 
   input {
      line-height: 2.2rem;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      border-radius: 5%;
      border-radius: 8px;
      border: solid 0.5px grey;
      width: 100%;
   }

   input.error {
      border-color: rgb(224, 61, 78);
   }

   .input-feedback {
      color: rgb(235, 54, 54);
      font-size: 14px;
      margin-bottom: 20px;
   }
}