@import "~normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Roboto:300,300i,400,400i,500,700,700i,900&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   height: 100%;
   width: 100vw;
   font-family: 'Playfair Display', serif;
}

